.Carrousel_426_908 {
    height: 695px;
    width: 1500px;
    position: relative;
    overflow: hidden;
}
.Carrousel_426_908[Property_1='carrousel 2'] .UnsplashHVytxpsuIxg_426_884 {
    width: 1472px;
    left: -1614px;
}
.Carrousel_426_908[Property_1='carrousel 2'] .UnsplashoCdVtGFeDC0_426_885 {
    width: 1500px;
    left: 5px;
}
.Carrousel_426_908[Property_1='carrousel 2'] .UnsplashpXnMG0FfSwA_426_886 {
    left: 1624px;
}
.Carrousel_426_908[Property_1='carrousel 2'] .UnsplashtOYuS3Uk5Yk_426_887 {
    left: 3243px;
}
.Carrousel_426_908[Property_1='carrousel 3'] .UnsplashHVytxpsuIxg_426_884 {
    width: 1472px;
    left: -3247px;
}
.Carrousel_426_908[Property_1='carrousel 3'] .UnsplashoCdVtGFeDC0_426_885 {
    left: -1628px;
}
.Carrousel_426_908[Property_1='carrousel 3'] .UnsplashpXnMG0FfSwA_426_886 {
    width: 1500px;
    left: -9px;
}
.Carrousel_426_908[Property_1='carrousel 3'] .UnsplashtOYuS3Uk5Yk_426_887 {
    left: 1610px;
}
.Carrousel_426_908[Property_1='carrousel 4'] .UnsplashHVytxpsuIxg_426_884 {
    width: 1472px;
    left: -4857px;
}
.Carrousel_426_908[Property_1='carrousel 4'] .UnsplashoCdVtGFeDC0_426_885 {
    left: -3238px;
}
.Carrousel_426_908[Property_1='carrousel 4'] .UnsplashpXnMG0FfSwA_426_886 {
    left: -1619px;
}
.Carrousel_426_908[Property_1='carrousel 4'] .UnsplashtOYuS3Uk5Yk_426_887 {
    left: 0px;
    width: 1500px;
}
.UnsplashHVytxpsuIxg_426_884 {
    background: url('/generated/629a33c35d924cf6449bd0e0c1bf84294433abdb.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 695px;
    width: 1500px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.UnsplashoCdVtGFeDC0_426_885 {
    background: url('/generated/57d378182920962f01fa8ab5e3ab417a127b8038.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 695px;
    width: 1472px;
    position: absolute;
    left: 1619px;
    top: 0px;
}
.UnsplashpXnMG0FfSwA_426_886 {
    background: url('/generated/67dc2da9a087abcd5b5c28966b55796af01f1cb9.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 695px;
    width: 1472px;
    position: absolute;
    left: 3238px;
    top: 0px;
}
.UnsplashtOYuS3Uk5Yk_426_887 {
    background: url('/generated/5f4a220ae19c5582f9d3d92f3a34433f24ad2839.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 695px;
    width: 1472px;
    position: absolute;
    left: 4857px;
    top: 0px;
}
